/*
 * Project: Urban Emotions Web Viewer
 * 
 * The Urban Emotions Web Viewer is free software. It can be redistributed and
 * modified under the terms of the GNU General Public Licence as published by the
 * Free Software Foundation, either Version 3 of the license, or (at your option)
 * any later version.
 * 
 * For the license, see <http://www.gnu.org/licenses/>.
 * 
 * Author: Andreas Petutschnig
 * Email: andreas@petutschnig.de
 * 
 * Description: This web viewer can be used to call a web processing service to
 * generate images derived from sensor data and display this data in a web map.
 */

* {
    font-family: "Merriweather", serif;
}
p, h1, label
{
    font-size: 18px;
    color: #555;
}

label {
    font-weight: bold; }

h1
{
    text-align: center;
    font-size: 28px;
    color: #006a93;
}

a.skiplink
{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

a.skiplink:focus
{
    clip: auto;
    height: auto;
    width: auto;
    background-color: #fff;
    padding: 0.3em;
}

#map:focus {
    outline: #4A74A8 solid 0.15em; }

fieldset {
    border: 0; }

label
{
    display: block;
    margin: 30px 0 0 0;
}

select {
    width: 200px; }

.overflow {
    height: 200px; }

#mapWrapper
{
    width: 100%;
    border: 1px solid #555;
    overflow: hidden;
}

#layerConfig
{
    position: fixed;
    right: 10px;
    z-index: 2;
    background: #FFFFFF;
    background: rgba(255, 255, 255, 0.9);
    width: 400px;
    border: 1px solid #555;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

#map
{
    position: absolute;
    z-index: 0;
    border: 1px solid green;
    overflow: hidden;
}

input
{
    border: 0;
    font-weight: bold;
    background: #white;
    background: rgba(255, 255, 255, 0.9);
}

.autoWidth
{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

#selSensorContainer
{
    display: table;
    margin: 0 auto;
}

#btnRenderHeatMap {
    font-weight: bold;
    float: left;
    color: #287d00;
}

#btnRemoveHeatMap {
    font-weight: bold;
    float: right;
    color: #a20000;
}

#uniLogo
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 250px;
    z-index: 1;
}
